<!-- Footer -->
<footer>
    <div class="page__footer-follow">
        <div class="page__footer-follow">
            {% if site.github_username %}
                <ul class="social-icons">  
                    <li><a href="https://github.com/{{ site.github_username }} rel="nofollow noopener noreferrer">
                        <i class="fab fa-fw fa-github" aria-hidden="true">
                        </i> GitHub</a>
                    </li>
                </ul>
        </div>
    </div>
 </footer>
